.page-title {
  padding: 30px 0;

  text-transform: uppercase;
  color: #000;
}

.page-title__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.page-title  a {
  display: none;
}

