
@charset "utf-8";

* {
  box-sizing: border-box;
}

// html,
body {
  min-width: 320px;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: $font-light;

  background-color: $bg-darkgrey-modile;

  @media (min-width: $bp-tablet) {
    background-color: $bg-darkgrey;
  }
}

.container {
  width: $mobile-width;
  // width: auto;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    width: $tablet-width;
    // width: auto;
    // padding: 0 $tablet-padding;
    margin: 0 auto;
  }

  @media (min-width: $bp-desktop) {
    width: $desktop-width;
    // width: auto;
    margin: 0 auto;
  }
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
